/* Override some defaults */
html, body {
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

header {
	border-bottom: 1px solid #333;
	margin-top: 0.8em;
	margin-bottom: 1.2em;
}

footer {
	margin-left: auto;
	margin-right: auto;
}

footer p {
	text-align: center; /* center align it with the container */
}

#twitter_widget {
	text-align: right;
}
.container {
	margin-left: auto;
	margin-right: auto;
}

h1,h3,h4 {
	color: #ccc;
	text-align: center;
}

h2,h5{
	font-weight:normal;
	color: #64CD0E;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}

#frame {
	border: 0px;
	width:100%;
	height: 160px;
}

.small {
	font-size: 0.6em;
	color: #666;
}

#clock {
	display: block;
	margin: 8px 0px;
	padding: 3px;
	font-weight: bold;
}

#door {
	display: block;
	margin: 8px 12px;
	padding: 3px 16px;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#door.open {
	background: #33cc33;
}

#door.closed {
	background: #dd3333	;
}

#door.unknown {
	background: orange;
}

.rnvtable {
	font-size: 13px;
}

.rnvtable td {
	padding: 2px 10px;
	border-bottom: 1px solid #666;
	color: #64CD0E;
}

.navbar {
	margin-bottom: 0px;
}

.graph h4 {
    text-align: center;
}

.nograph h4,h5 {
    text-align: left;
}

.nograph [class*="col-"] {
    padding-left:  55px; /* 15px + 40px = 55px */
}

.row {
    margin-top: 10px;
}
