/* Override some defaults */
html, body {
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

header {
	border-bottom: 1px solid #333;
	margin-top: 0.8em;
	margin-bottom: 1.2em;
}

footer {
	margin-left: auto;
	margin-right: auto;
}

footer p {
	text-align: center; /* center align it with the container */
}

.container {
	width: 940px; 
	margin-left: auto;
	margin-right: auto;
}

h1,h2,h3,h4,h5 {
	color: #ccc;
}

h2,h5 {
	font-weight:normal;
}

.topbar .label {
	margin-top: 8px;
	padding-left: 5px;
	padding-right: 5px;
}

section {
	margin-bottom: 20px;
}

.box {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	padding: 0.5em;
}

.centered {
	text-align: center;
}

#frame {
	border: 0px;
	width:100%;
	height: 160px;
}

footer {
	margin: 10px;
	padding: 0px;
}

.small {
	font-size: 0.6em;
	color: #666;
}

#clock {
	display: block;
	margin: 8px 0px;
	padding: 3px;
}

#door {
	display: block;
	margin: 8px 12px;
	padding: 3px 16px;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#door.open {
	background: #33cc33;
}

#door.closed {
	background: #dd3333	;
}

#door.unknown {
	background: orange;
}
